<%-include("../Home/header")-%>


<div class="flex ">
  <%-include("../Home/sidebar")-%>

    <!-- main star -->
    <main class="bg-custom4-700 w-11/12  bg-Pattren2 ">
      <div id="Customer" class=" w-full h-full   overflow-hidden relative ">
        <div class="overlay bg-custom1-700  bg-opacity-70 p-4 w-full h-full  overflow-y-scroll absolute ">
          <!-- content start -->
          <div class="Addcustomer  customerTab" id="customerTab2">
            <div class="min-h-screen p-6  flex flex-col justify-start bg-Pattern1">
              <div class="container max-w-screen-lg mx-auto">
                <div>
                  <div class=" rounded   md:p-8 mb-6 ">
                    <div class="grid gap-2 gap-y-2 text-sm grid-cols-1 ">
                      <div class="text-white mb-12">
                        <p class=" text-2xl font-bold">Setting</p>
                      </div>
                      <form action="" method="">
                        <div class="lg:col-span-2">
                          <div class="grid gap-4 gap-y-2 text-base grid-cols-1 md:grid-cols-5">
                            <div class="md:col-span-5">
                              <label class="w-32 inline-block" for="Seller_Name">Name<span
                                  class="text-red-500 text-base font-semibold">*</span></label>
                              <input type="text" name="Seller_Name" id="Seller_Name"
                                class="h-10 border mt-1 rounded px-4 w-4/5 text-black  " placeholder="Name" value="<%= data.Seller_Name%>" />
                            </div>
                            <div class="md:col-span-5">
                              <label class="w-32 inline-block" for="Email">Email </label>
                              <input type="text" name="Email" id="Email"
                                class="h-10 border mt-1 rounded px-4 w-4/5 text-black  " value="<%= data.Email%>"
                                placeholder="Email@domain.com" />
                            </div>
                            <div class="md:col-span-5">
                              <label class="w-32 inline-block" for="Address">Address <span
                                  class="text-red-500 text-base font-semibold">*</span></label>
                              <input type="text" name="Address" id="Address"
                                class="h-10 border mt-1 rounded px-4 w-4/5 text-black  " value="<%= data.Address%>"
                                placeholder="Address" />
                            </div>
                            <div class="md:col-span-5">
                              <label class="w-32 inline-block" for="PhoneNo">Phone Number <span
                                  class="text-red-500 text-base font-semibold">*</span></label>
                              <input type="text" name="PhoneNo" id="PhoneNo"
                                class="h-10 border mt-1 rounded px-4 w-4/5 text-black  " value="<%= data.PhoneNo%>"
                                placeholder="xxxx-xxxxxxx" />
                            </div>
                            <div class="md:col-span-5 text-right mt-10">
                              <div class="inline-flex items-end">
                                <button type="submit"
                                onclick="updateSetting()"
                                  class="bg-custom3-500 hover:bg-custom3-700 text-white font-bold py-2 px-4 rounded mt-4">
                                  Update</button>
                              </div>
                              <div class="inline-flex items-end">
                                <button type="button"
                                  onclick="window.location.href = '/Home/app.html'"
                                  class="bg-custom2-500 hover:bg-custom2-700 text-white font-bold py-2 px-4 rounded mt-4">
                                  Back</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <script>
            function updateSetting() {
             let data={
              id: '<%= data.Seller_ID%>',
              Seller_Name : document.getElementById("Seller_Name").value,
             Email : document.getElementById("Email").value,
             Address : document.getElementById("Address").value,
             PhoneNo : document.getElementById("PhoneNo").value
            };

            fetch('/Setting/<%=data.Seller_ID+50%>', {
                  method: 'put',
                  body: JSON.stringify(data),
                  headers: {
                    'Content-Type': 'application/json'
                  }
                }).then(response => {
                  if (!response) {
                    throw new Error('Network response was not ok');
                  }
                  window.location.href = '/Home/app.html';
                })
                  .catch((error) => {
                    console.error('Error in fetch:', error);
                  });



            }
          </script>
          <!-- content end-->
        </div>
      </div>
    </main>
    <!-- main star -->
  </div>
  <!-- ======================================================================================================= -->
  <%-include("../Home/footer")-%>
  
  